*.log

.tmux/resurrect
.tmux/sidebar
.tmux/plugins/*
!.tmux/plugins/tpm

.synergy/SSL/*

.weechat/logs/*
.weechat/script/*
.weechat/urlserver*

.config/nvim/backups/*
.config/nvim/plugged/*
.config/nvim/.netrwhist

.config/ranger/history
.config/ranger/bookmarks
.config/ranger/tagged

*.swp

*.secret

__pycache__
*.pyc

