[user]
	name = Agustin Borgna
	email = hello@aborgna.com.ar
[push]
    default = simple

[alias]
    c = commit
    co = checkout
    p = push
    pf = push --force-with-lease
    r = rebase -i
    t = log --graph --decorate --oneline --color --all
    tree = log --graph --decorate --oneline --color --all

