*.log

.tmux/resurrect
.tmux/sidebar
.tmux/plugins/*
!.tmux/plugins/tpm

.synergy/SSL/*

.weechat/logs/*
.weechat/script/*
.weechat/urlserver*

.config/nvim/backups/*
.config/nvim/plugged/*
.config/nvim/spell/*
.config/nvim/.netrwhist
.config/nvim/tmp.rst

.config/ranger/history
.config/ranger/bookmarks
.config/ranger/tagged

# Valgrind stuff
bin/include/*
bin/lib/*
bin/libexec/*
bin/callgrind_annotate
bin/callgrind_control
bin/cg_annotate
bin/cg_diff
bin/cg_merge
bin/ms_print
bin/valgrind
bin/valgrind-listener
bin/valgrind-di-server
bin/vgdb

*.swp

*.secret

__pycache__
*.pyc

