
! Transparency 
! True transparency
!URxvt*.depth: 24
! Native transparency
URxvt*.transparent: true
URxvt*.shading: 86

! Font
!URxvt*.font: 9x15
URxvt*.font: xft:Terminus:style=Regular:antialias=false, \
             xft:DejaVu Sans Mono for Powerline:antialias=false \
             xft:Sans:antialias=false

! Colors
*foreground:#D2C5BC 
!*background:[50]#101010
*background:#101010
*.cursorColor:	   #808080

*color0:           #424242
*color8:           #363636

*color1:           #DC322F
*color9:           #CB2C16

*color2:           #479900
*color10:          #587558

*color3:           #B58900
*color11:          #837C65

*color4:           #268BD2
*color12:          #628295

*color5:           #D33682
*color13:          #C46CBD

*color6:           #2AA198
*color14:          #93A1A1

*color7:           #FFF0F0
*color15:          #FDF6E3


! True: enable the scrollbar [default]; option -sb. False: disable
URxvt*.scrollBar: false

URxvt*.perl-ext-common: default,matcher,font-size

! URLs
URxvt*.url-launcher: /usr/bin/xdg-open
URxvt*.matcher.button: 1
URxvt*.colorUL: #4682B4

! Disable shift+ctrl keybinding
URxvt*.iso14755: true
URxvt*.iso14755_52: false

! Notify i3wm about bells
Urxvt*.urgentOnBell: true

! Dynamic resize
Urxvt*.keysym.C-S-Up: font-size:increase
Urxvt*.keysym.C-S-Down: font-size:decrease
Urxvt*.font-size.step: 1

! Laptop & high dpi things
Xft.dpi: 112
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

