
! Transparency 
! True transparency
!URxvt*.depth: 32
! Native transparency
URxvt*.transparent: true
URxvt*.shading: 66

! Font
!URxvt*.font: 9x15
URxvt*.font: -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso8859-9

! Colors
!*foreground: White
!*background: [50]#000000

*foreground:#D2C5BC 
!*background:[50]#101010
*background:#101010

*.cursorColor:	   #202020

*color0:           #202020
*color8:           #606060

*color1:           #B91E2E
*color9:           #D14548

*color2:           #81957C
*color10:          #A7B79A

*color3:           #F9BB80
*color11:          #FAE3A0

*color4:           #356579
*color12:          #7491A1

*color5:           #2D2031
*color13:          #87314E

*color6:           #0B3452
*color14:          #0F829D

*color7:           #909090
*color15:          #FFF0F0


! True: enable the scrollbar [default]; option -sb. False: disable
URxvt*.scrollBar: false

URxvt*.perl-ext-common: default,matcher

! URLs
URxvt*.url-launcher: /usr/bin/xdg-open
URxvt*.matcher.button: 1
URxvt*.colorUL: #4682B4

